*

!.gitignore

!CMakeLists.txt
!CMakePresets.json

!*.md
!*.MD
!*.asm
!*.S
!*.cpp
!*.hpp
!*.sh
!*.py
!*.cmake
!*.txt
!*.cmake.in
!*.proto
!*.slint
!*.svg

!asm/
!src/
!src/ui/
!include/
!scripts/
!images/
!cmake/
!modules/src/
!tests/

!docs/
!docs/Doxyfile
!docs/*md
!docs/*MD
