*

!.gitignore

!CMakeLists.txt
!CMakePresets.json

!*.md
!*.MD
!*.asm
!*.S
!*.cpp
!*.sh
!*.py
!*.cmake

!asm/
!src/
!scripts/
!images/
!cmake/
!modules/*
!modules/src/*

!docs/
!docs/Doxyfile
!docs/*md
!docs/*MD
